# Systemctl .service file to use for Taskpony
# To install, ensire taskpony.psgi and taskpony.service (this file) are in /opt/taskpony  (or change all paths)
# To change the http port, change "-p 5000" in the ExecStart line below to your chosen port (Tip: Keep it above 1000 or you'll need to run setcap)
# Link this file to the systemd service directory and start and enable it using the command below:
#      cp /opt/taskpony/taskpony.service /etc/systemd/system
#      systemctl daemon-reload
#      systemctl enable --now taskpony

[Unit]
Description=Taskpony
After=network.target
After=mariadb.service

[Service]
ExecStart=/usr/bin/plackup -p 5000 /opt/taskpony/taskpony.psgi
WorkingDirectory=/opt/taskpony
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target

# EOF
